@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

:root {
    --white:#F7FBFC;
    --grey:#D6E6F2;
    --black: #303030;
    --light-blue:#B9D7EA;
    --blue:#769FCD;
    --dark-blue:#1677e6;
    --red:#dd1212;
    --padding: 30px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.content {
    color: var(--black);
    font-family: "Poppins", sans-serif;
}

.content.nav-displayed {
    overflow-y: hidden;
    max-height: 100vh;
}

/* Header */
.header {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.header__name {
    font-size: 1.5rem;
}

.hamburger-icon {
    width: 25px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.hamburger-icon > span {
    width: 100%;
    height: 5px;
    background-color: black;
    position: relative;
    transition: transform 0.3s ease, width 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
}

.hamburger-icon > .line-1.active {
    transform: translateY(9px) rotate(45deg);
}

.hamburger-icon > .line-2.active {
    opacity: 0;
    width: 0;
}

.hamburger-icon > .line-3.active {
    transform: translateY(-11px) rotate(-45deg);
}

.header__nav {
    width: 100%;
    height: 0;
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.header__nav.displayed {
    height: calc(100vh - 60px);
}

.header__nav > ul {
    width: 100%;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
}

.header__nav-item {
    height: 100%;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.4rem;
    margin: auto 0;
}

.header__nav-item:hover {
    background-color: var(--light-blue);
}

.header__nav-item > a {
    width: 150px;
    text-decoration: none;
    color: black;
    text-align: center;
}

/* Presentacion */
.presentation {
    background-color: var(--grey);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px 30px;
}

.presentation__title {
    font-size: 2.2rem;
}

.presentation__paragraph {
    font-size: 1.2rem;
}

/* About me */
.about-me {
    background-color: var(--light-blue);
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 15px;
}

.about-me__title {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.about-me__paragraph {
    font-size: 1.2rem;
    line-height: 25px;
}

/* Skills and Hobbies*/
.skills {
    margin-bottom: -1px;
}

.skills,
.hobbies {
    background-color: var(--grey);
    height: auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.skills__title,
.hobbies__title {
    font-size: 1.4rem;
}

.skills__container,
.hobbies__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill__element,
.hobbie__element {
    width: 160px;
    height: 110px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.skill__element:nth-of-type(3),
.hobbie__element:nth-of-type(3) {
    flex-grow: 1;
}

.skill__element-icon,
.hobbie__element-icon {
    height: 40px;
    width: 30px;
}

.skill__element-title,
.hobbie__element-title {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Formacion academica */
.formacion-academica {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 30px;
}

.formacion__title {
    font-size: 1.4rem;
}

.formacion__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formacion__element-img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.formacion__element-title {
    font-size: 1.2rem;
    font-weight: 700;
}

/* Projectos */
.projectos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
    background-color: var(--grey);
}

.projectos__title {
    font-size: 1.4rem;
}

.projectos__container {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.projecto__element {

}

.proyecto__element-img {
    height: 180px;
    width: 100%;
}

.proyecto__element-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.proyecto__element-description {

}

.buttons__container {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.buttons__container > a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-repositorio {
    color: var(--white);
    background-color: var(--dark-blue);
}

.btn-demo {
    color: var(--dark-blue);
    background-color: var(--white);
    border: 1px solid var(--dark-blue);
}

/* Contacto */
.contacto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
    background-color: var(--light-blue);
}

.contacto__title {
    font-size: 1.4rem;
}

.contacto__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacto__form-input-container {
    position: relative;
}

.contacto__form-input {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.contacto__form-input:invalid {
    border: 1px solid var(--red);
}

.contacto__form-input:valid {
    border: 1px solid var(--dark-blue);
}

.contacto__form-input:focus,
.contacto__form-input.no-empty {
    outline: none;
    padding: 25px 10px 5px 10px;
}

.contacto__form-input:focus + label,
.contacto__form-input.no-empty + label {
    font-size: 0.8rem;
    top: -10px;
    color: var(--blue);
}

.contacto__form-input-container > label {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    font-size: 1rem;
    padding: 15px 10px;
}

.btn-enviar-mensaje {
    padding: 10px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 50px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 1rem;
}   

/* Footer */
.footer {
    height: 60px;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: var(--dark-blue);
}

.footer__paragrap {

}