@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

:root {
    --white:#F7FBFC;
    --grey:#D6E6F2;
    --black: #303030;
    --light-blue:#B9D7EA;
    --blue:#769FCD;
    --dark-blue:#1677e6;
    --red:#dd1212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.content {
    color: var(--black);
    font-family: "Poppins", sans-serif;
}

.content.nav-displayed {
    overflow-y: hidden;
    max-height: 100vh;
}

/* Header */
.header {
    width: 100%;
    height: 60px;
    padding: 10px 30px;
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__name {
    font-size: 1.5rem;
}

.hamburger-icon {
    width: 25px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.hamburger-icon > span {
    width: 100%;
    height: 5px;
    background-color: black;
    position: relative;
    transition: transform 0.3s ease, width 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
}

.hamburger-icon > .line-1.active {
    transform: translateY(9px) rotate(45deg);
}

.hamburger-icon > .line-2.active {
    opacity: 0;
    width: 0;
}

.hamburger-icon > .line-3.active {
    transform: translateY(-11px) rotate(-45deg);
}

.header__nav {
    width: 100%;
    height: 0;
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.header__nav.displayed {
    height: calc(100vh - 60px);
}

.header__nav > ul {
    width: 100%;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
}

.header__nav-item {
    height: 100%;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.4rem;
    margin: auto 0;
}

.header__nav-item > a {
    width: 150px;
    text-decoration: none;
    color: black;
    text-align: center;
}

/* Presentacion */
.presentation {
    background-color: var(--grey);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px 30px;
}

.presentation__title {
    font-size: 2.2rem;
}

.presentation__paragraph {
    font-size: 1.2rem;
}

/* About me */
.about-me {
    background-color: var(--light-blue);
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    gap: 15px;
}

.about-me__title {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.about-me__paragraph {
    font-size: 1.2rem;
    line-height: 25px;
}

/* Skills and Hobbies*/
.skills {
    margin-bottom: -1px;
}

.skills,
.hobbies {
    background-color: var(--grey);
    height: auto;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.skills__title,
.hobbies__title {
    font-size: 1.4rem;
}

.skills__container,
.hobbies__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill__element,
.hobbie__element {
    width: 150px;
    height: 110px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.skill__element:nth-of-type(3),
.hobbie__element:nth-of-type(3) {
    flex-grow: 1;
}

.skill__element-icon,
.hobbie__element-icon {
    height: 40px;
    width: 30px;
}

.skill__element-title,
.hobbie__element-title {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Formacion academica */
.formacion-academica {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    gap: 30px;
}

.formacion__title {
    font-size: 1.4rem;
}

.formacion__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formacion__element-img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.formacion__element-title {
    font-size: 1.2rem;
    font-weight: 700;
}

/* Proyectos */
.proyectos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 30px;
    background-color: var(--grey);
}

.proyectos__title {
    font-size: 1.4rem;
}

.proyectos__container {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.proyecto__element-img {
    height: 180px;
    width: 100%;
}

.proyecto__element-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.buttons__container {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.buttons__container > a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-repositorio {
    color: var(--white);
    background-color: var(--dark-blue);
}

.btn-demo {
    color: var(--dark-blue);
    background-color: var(--white);
    border: 1px solid var(--dark-blue);
}

/* Contacto */
.contacto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 30px;
    background-color: var(--light-blue);
}

.contacto__title {
    font-size: 1.4rem;
}

.contacto__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacto__form-input-container {
    position: relative;
}

.contacto__form-input {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: all 0.3s ease;
    border: none;
}

.contacto__form-input:invalid {
    border-bottom: 5px solid var(--red);
}

.contacto__form-input:valid {
    border-bottom: 5px solid var(--dark-blue);
}

.contacto__form-input:focus,
.contacto__form-input.no-empty {
    outline: none;
    padding: 25px 10px 5px 10px;
}

.contacto__form-input:focus + label,
.contacto__form-input.no-empty + label {
    font-size: 0.8rem;
    top: -10px;
    color: var(--blue);
}

.contacto__form-input-container > label {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    font-size: 1rem;
    padding: 15px 10px;
}

#mensaje-input {
    resize: none;
}

.btn-enviar-mensaje {
    padding: 10px 15px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 50px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 1rem;
}   

/* Footer */
.footer {
    height: 60px;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: var(--dark-blue);
}

/* Mediaquerie Tablet */
@media(min-width: 768px) {
    /* Header */
    .header {
        height: 80px;
    }

    .header__name {
        font-size: 2rem;
    }

    .hamburger-icon {
        width: 35px;
        height: auto;
    }

    .hamburger-icon > span {
        height: 7px;
    }

    .hamburger-icon > .line-1.active {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger-icon > .line-3.active {
        transform: translateY(-14px) rotate(-45deg);
    }

    .header__nav {
        top: 80px;
    }

    .header__nav.displayed {
        height: calc(100vh - 80px);
    }

    .header__nav-item {
        font-size: 2rem;
    }

    /* Presentacion */
    .presentation {
        height: 35vh;
    }

    .presentation__title {
        font-size: 3.5rem;
    }

    .presentation__paragraph {
        font-size: 1.8rem;
    }

    /* About me */
    .about-me {
        gap: 30px;
    }

    .about-me__title {
        font-size: 2.3rem;
        margin-bottom: 0;
    }
    
    .about-me__paragraph {
        font-size: 1.8rem;
        line-height: 40px;
    }

    /* Skills and Hobbies*/
    .skills {
        margin-bottom: -1px;
    }

    .skills,
    .hobbies {
        padding: 40px 20px;
        gap: 30px;
    }

    .skills__title,
    .hobbies__title {
        font-size: 2.3rem;
    }

    .skills__container,
    .hobbies__container {
        gap: 20px;
        flex-wrap: nowrap;
    }

    .skill__element,
    .hobbie__element {
        width: 100%;
        height: 140px;
        justify-content: normal;
    }

    .skill__element:nth-of-type(3),
    .hobbie__element:nth-of-type(3) {
        flex-grow: 0;
    }

    .skill__element-icon,
    .hobbie__element-icon {
        height: 60px;
        width: 50px;
    }

    .skill__element-title,
    .hobbie__element-title {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 1px;
    }

    /* Formacion academica */
    .formacion__title {
        font-size: 2.3rem;
    }
    
    .formacion__container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .formacion__element {
        width: 100%;
    }
    
    .formacion__element-img {
        width: 100%;
        height: 150px;
    }
    
    .formacion__element-title {
        font-size: 1.5rem;
    }

    .formacion__element-date {
        font-size: 1.2rem;
    }

    /* Proyectos */
    .proyectos {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
        background-color: var(--grey);
    }

    .proyectos__title {
        font-size: 2.3rem;
    }

    .proyecto__element-img {
        height: 430px;
        width: 100%;
    }

    .proyecto__element-title {
        font-size: 2rem;
    }

    .proyecto__element-paragraph {
        font-size: 1.5rem;
    }

    .buttons__container {
        margin-top: 15px;
    }

    .buttons__container > a {
        padding: 15px 30px;
        font-size: 1.4rem;
    }

    .btn-repositorio {
        color: var(--white);
        background-color: var(--dark-blue);
    }

    .btn-demo {
        color: var(--dark-blue);
        background-color: var(--white);
        border: 1px solid var(--dark-blue);
    }

    /* Contacto */
    .contacto {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
        background-color: var(--light-blue);
    }

    .contacto__title {
        font-size: 2.3rem;
    }

    .contacto__form {
        gap: 40px;
    }

    .contacto__form-input {
        height: 90px;
        font-size: 2rem;
    }

    .contacto__form-input:focus,
    .contacto__form-input.no-empty {
        padding: 40px 10px 5px 10px;
    }

    .contacto__form-input:focus + label,
    .contacto__form-input.no-empty + label {
        font-size: 1.4rem;
        top: -20px;
    }

    .contacto__form-input-container > label {
        font-size: 1.6rem;
        padding: 25px 10px;
    }

    .btn-enviar-mensaje {
        padding: 15px 30px;
        width: 250px;
        height: 70px;
        font-size: 1.5rem;
    }

    /* Footer */
    .footer {
        height: 80px;
    }

    .footer__paragraph {
        font-size: 1.6rem;
    }
}

/* Mediquerie Computadora */
@media(min-width: 1024px) {
    /* Header */
    .header {
        height: 120px;
        flex-direction: column;
        gap: 10px;
        padding: 15px 30px;
    }

    .header__name {
        font-size: 1.8rem;
    }

    .hamburger-icon {
        width: 30px;
        height: 25px;
        display: none;
    }

    .header__nav {
        height: 100%;
        width: auto;
        display: flex;
        position: static;
    }

    .header__nav > ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--blue);
        gap: 15px;
    }

    .header__nav-item {
        font-size: 1rem;
        background-color: transparent;
    }

    .header__nav-item:hover {
        background-color: transparent;
    }

    .header__nav-item > a {
        width: auto;
        padding: 5px 10px;
        transition: color 0.3s ease;
    }

    .header__nav-item > a:hover {
        color: var(--light-blue);
    }

    /* Presentacion */
    .presentation {
        height: 40vh;
    }

    .presentation__title {
        font-size: 3rem;
    }

    .presentation__paragraph {
        font-size: 1rem;
        width: 300px;
    }

    /* About me */
    .about-me {
        gap: 0;
        padding: 40px 100px;
    }

    .about-me__title {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .about-me__paragraph {
        font-size: 1rem;
        line-height: 20px;
        width: 800px;
    }

    .about-me__paragraph:nth-of-type(1) {
        margin-bottom: 20px;
    }

    /* Skills and Hobbies*/
    .skills,
    .hobbies {
        padding: 40px 100px;
    }

    .skills__title,
    .hobbies__title {
        font-size: 1.5rem;
    }

    .skill__element,
    .hobbie__element {
        width: 100%;
        height: 120px;
    }

    .skill__element-icon,
    .hobbie__element-icon {
        height: 60px;
        width: 40px;
    }

    .skill__element-title,
    .hobbie__element-title {
        font-size: 1.1rem;
    }

    /* Formacion academica */
    .formacion-academica {
        padding: 40px 100px;
    }

    .formacion__title {
        font-size: 1.5rem;
    }

    .formacion__container {
        display: flex;
        gap: 20px;
    }

    .formacion__element {
        width: 100%;
    }

    .formacion__element-img {
        height: 180px;
    }

    .formacion__element-title {
        font-size: 1.1rem;
    }

    .formacion__element-date {
        font-size: 0.9rem;
    }

    /* Proyectos */
    .proyectos {
        gap: 30px;
        padding: 40px 100px;
        align-items: center;
    }
    
    .proyectos__title {
        font-size: 1.5rem;
    }
    
    .proyectos__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 70px;
    }

    .proyecto__element {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .proyecto__element-img {
        height: 250px;
        width: 500px;
        margin-bottom: 10px;
    }
    
    .proyecto__element-title {
        font-size: 1.3rem;
    }
    
    .buttons__container > a {
        font-size: 0.9rem;
        padding: 10px 15px;
    }

    /* Contacto */
    .contacto {
        padding: 40px 100px;
    }

    .contacto__title {
        font-size: 1.5rem;
    }

    .contacto__form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .contacto__form-input-container {
        width: 45%;
    }

    .contacto__form-input {
        height: 60px;
        font-size: 1.2rem;
        padding: 5px 10px;
    }

    .contacto__form-input:focus,
    .contacto__form-input.no-empty {
        padding: 25px 10px 5px 10px;
    }

    .contacto__form-input:focus + label,
    .contacto__form-input.no-empty + label {
        font-size: 0.8rem;
        top: -10px;
    }

    .contacto__form-input-container > label {
        font-size: 1rem;
        padding: 15px 10px;
}

    .btn-enviar-mensaje {
        padding: 10px 15px;
        width: 180px;
        height: 50px;
        font-size: 0.9rem;
        margin: 0 auto;
    }

    .footer {
        height: 60px;
    }

    .footer__paragraph {
        font-size: 1.1rem;
    }
}