@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import "tailwindcss";


@theme {
    --font-inter: 'Raleway', sans-serif;
    --animate-moveLeft: moveLeft 10s linear infinite;
    --animate-moveRight: moveRight 10s linear infinite;
    --animate-moveUp: moveUp 15s infinite;
    --animate-moveDown: moveDown 1s ease-in-out;
}

/* About me animation */
@keyframes moveUp {

    0%,
    20% {
        transform: translateY(0);
    }

    25%,
    45% {
        transform: translateY(-25px);
    }

    50%,
    70% {
        transform: translateY(-50px);
    }

    75%,
    100% {
        transform: translateY(0);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 2rem));
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(calc(-100% - 2rem));
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(calc(-800%));
    }

    100% {
        transform: translateY(0%);
    }
}

span {
    user-select: none;
}

#carousel {
    background: fixed center / cover;
    opacity: 1;
    -webkit-mask-image: linear-gradient(to bottom, white 0%, transparent 100%);
    mask-image: linear-gradient(to bottom, white 0%, transparent 100%);
}

#about-me {
    background: fixed center / cover;
    opacity: 1;
    -webkit-mask-image: linear-gradient(to top, white 0%, blue 100%);
    mask-image: linear-gradient(to top, white 0%, blue 100%);
}